.selected {
  border: 3px solid #357b95;
  box-shadow: 0px 0px 30px #357b95;
  opacity: 1;
  border-radius: 10px
  max-width: 100%
  max-height: 100%
}

.transparent {
  border: 3px solid transparent;
  box-shadow: 0px 0px 30px transparent;
  opacity: 1;
  border-radius: 10px
  max-width: 100%
  max-height: 100%
}
